@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-image: url("./pattern_park.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans';
    
}

h1{
    font-weight: 600;
}

#occupied{
    border-radius: 10px;
    height: 50vh;
    width: 30vh;
    background-color: #b7e994b2;
    border: 2px #78e08fd7 dashed;
    text-align: center;
    
}

